body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

.attribution { 
  font-size: .6875rem; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.qr img {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: .625rem;
}

.qr {
  text-align: center;
  background-color: white;
  margin: 10.625rem auto;
  border-radius: 1.25rem;
  width: 18.75rem;
  height: 21.875rem;
  padding: 1.25rem 1.875rem 11.25rem 1.875rem;
}

.qr h1 {
  color: hsl(218, 44%, 22%);
}

.qr p{
  font-size: .9375rem;
  color: hsl(220, 15%, 55%);
}